<template>
  <footer id="footer">
    <section>
      <b-container>
        <b-row>
          <b-col lg="7">
            <h1
              class="mt-4 mb-3"
              v-html="$t('contact.title')"
            ></h1>
            <b-row>
              <b-col
                md="4"
                cols="6"
              >
                <a
                  href="https://twitter.com/@joinmobilizon"
                  rel="me"
                >
                  <i class="fab fa-twitter"></i>
                  JoinMobilizon
                </a>
              </b-col>
              <b-col
                md="4"
                cols="6"
              >
                <a
                  rel="me"
                  href="https://framapiaf.org/@mobilizon"
                >
                  <i class="fab fa-mastodon"></i>
                  Mobilizon
                </a>
              </b-col>
              <b-col
                md="4"
                cols="6"
              >
                <a :href="$t('git.mobilizon')">
                  <i class="fab fa-gitlab"></i>
                  <span v-html="$t('contact.source')"></span>
                </a>
              </b-col>
              <b-col
                md="4"
                cols="6"
              >
                <a
                  :href="$t('lang') === 'fr'
                    ? $t('link.fr.forum')
                    : $t('link.en.forum')"
                >
                  <i class="fas fa-comments"></i>
                  Forum
                </a>
              </b-col>
              <b-col
                md="4"
                cols="6"
              >
                <a href="https://riot.im/app/#/room/#Mobilizon:matrix.org">
                  <i class="fac fa-matrix-org"></i>
                  Chat
                </a>
              </b-col>
            </b-row>
            <b-row>
              <b-col
                class="my-3"
                md="8"
              >
                <p
                  class="small"
                  v-html="$t('footer.credits')"
                ></p>
              </b-col>
            </b-row>
          </b-col>
          <b-col lg="5">
            <b-img
              alt=""
              class="d-block mt-4 mx-auto"
              height="45"
              :src="`${$t('baseurl')}img/logo-mbz-yellow.svg`"
            />
            <b-img
              alt=""
              fluid
              :src="`${$t('baseurl')}img/footer/${
                ['a', 'b', 'c', 'd', 'e'][Math.random() * 5 | 0]
              }.jpg`"
            />
          </b-col>
        </b-row>
      </b-container>
    </section>
  </footer>
</template>

<style lang="scss">
#footer {
  &, .container {
    background: #484467;
    margin-bottom: 0;
  }

  h1 {
    font-size: 1.75rem;
  }

  .container, a, h1 {
    color: var(--s1) !important;
    fill: var(--s1) !important;
  }
}
</style>
