@import '../../commons/scss/frama/colors';
@import '../../commons/scss/frama/shadows';

:root {
  --frama: #725794;
  --soft: #cc4e13;

  /* Mobilizon colors
    ~~@mcgodwin, 2020-03-06

    Primary
    Hue 35
  */
  --p1: #FFF1DE; /* background */
  --p2: #FFD599; /* background */
  --p3: #FEA72B; /* accent, flat */
  --p4: #ED8D07; /* text, underline */

  /*
    Secondary
    Hue 245-248
  */
  --s1: #E6E4F4; /* background, accent (main) */
  --s2: #CDCAEA; /* background, accent */
  --s3: #757199; /* text */
  --s4: #3C376E; /* title, border, button */
  --s5: #474467; /* text */
  --s6: #3A384C; /* text */

  /*
    Dark / Light
  */
  --d1: #ECEBF2; /* background, flat */
  --d2: #D7D6DE; /* border */

  /*
    Orange
    Hue 12-13
  */
  --o1: #FBD5CB; /* background, flat */
  --o2: #D35204; /* breadcrumb, accent */

  /*
    Blue
    Hue 189-193
  */
  --b1: #17A3BB; /* hover */
  --b2: #1E7D97; /* button, accent */

  /*
    Red = Alert
    Hue 349
  */
  --r1: #FF2E54; /* background, flat */
  --r2: #E8284A; /* text */
  /*
    Green = OK
    Hue 157-163
  */
  --g1: #23B087; /* hover */
  --g2: #0D8758; /* text */
}

/* Frameworks */
$primary: #FFD599 !default;
$secondary: #474467 !default;

$danger: #FF2E54;
$info: #17A3BB; /* ? #36bcd4 on Mobilizon */
$success: #0D8758;
$warning: #D35204; /* ? #ffdd57 on Mobilizon */
@import 'frameworks/bootstrap4';
@import 'frameworks/iconslk';

/* Fonts */
@import 'fonts/dejavu-sans';
@import 'fonts/roboto';
